<!DOCTYPE html>
<html>
<head>
  <title>Discovery</title>
  <%= stylesheet_link_tag    "discovery/application", :media => "all" %>
  <%= javascript_include_tag "discovery/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
