<%= form_for(@category) do |f| %>
	<p>Add a career:</p>
	<select name="category[career_id]">
    <% Career.all.each do |career| %>
        <option value="<%= career.id %>"><%= career.name %></option>
    <% end %>
	</select>
	<br>
	<%= f.submit "Add Career" %>
<% end %>
